.jumbo {
  background-color: #e2edff;
  padding-top: 30px;
font-family: 'Quicksand', sans-serif;
}
.jumbo p{
  font-size: 0.9rem;
}
hr {
  width: 80px;
  border-top: 1px solid #000 ;
}
#project {
  background-color: #e2edff;
  padding-top: 10px;
  font-family: 'Quicksand', sans-serif;
}
#about {
  font-family: 'Quicksand', sans-serif;
  
}
#contact hr{
  width: 120px;
}
#contact {
  font-family: 'Quicksand', sans-serif;
}
nav {
  font-family: 'Quicksand', sans-serif;
}
footer {
  font-family: 'Quicksand', sans-serif;
}